body {
    margin: 0px;
    padding: 0px;
}
body.fluid-content {
    padding: 0 10px;
}
table#doc {
    height: 100%;
}
td.pony-content.left {
    padding-right: 1em;
}
td.pony-content.right {
    padding-left: 1em;
}
td.pony-column.first {
    padding-left: 0;
}
td.pony-column {
    padding-left: 2%;
}
