.rounded { position: relative }
.rounded div.top-left,
.rounded div.top-right,
.rounded div.bottom-left,
.rounded div.bottom-right {
  position:absolute; width:20px; height:20px;
  background: url(/pony/images/hole20.png) /*top left*/ no-repeat;
}
.rounded div.top-left {top:0; left:0; background-position: top left;}
.rounded div.top-right {top:0; right:0; background-position: top right;}
.rounded div.bottom-left {bottom:0; left:0; background-position: bottom left;}
.rounded div.bottom-right {bottom:0; right:0; background-position: bottom right;}

/* IE Filters */

* html .rounded div.top-left,
* html .rounded div.top-right,
* html .rounded div.bottom-left,
* html .rounded div.bottom-right {
   background: url(/pony/images/hole20.gif);
   line-height: 1px;
   font-size: 1px;
}
* html .rounded div.top-left {background-position: top left;}
* html .rounded div.top-right {background-position: top right;}
* html .rounded div.bottom-left {bottom:-1px; background-position: bottom left;}
* html .rounded div.bottom-right {bottom:-1px; background-position: bottom right;}
