/* Blueprint CSS fixes */

table { border-collapse: collapse; }
hr { height: 1px; }

/* Forms */

form.pony table {
    width: auto;
    margin: 0;
}
form.pony th,
form.pony td {
    vertical-align: center;
    padding: 0.2em 0.5em;
    background-color: transparent;
}
form.pony .required {
    color: red;
    margin-left: 0.3em;
}
form.pony .error {
    color: red;
    border: none;
    margin: 0.5em 0;
    padding: 0 0.5em;
}
form.pony .has-error .error {
    padding: 0;
}
form.pony .checkboxgroup-item,
form.pony .radiobutton { margin: 0.3em 0; }
form.pony .value { padding-left: 0.5em; *padding-left: 0.2em; }
form.pony .buttons { margin: 0.2em 0; }

form.pony tr.composite-field-row table th
{
    padding: 0 0.5em 0.1em 0;
    text-align: center;
}
form.pony tr.composite-field-row table td { padding: 0 0.5em 0 0; }
