.rounded { position: relative }
.rounded div.radius-4  { position:absolute; width:4px;  height:4px;  background: url(/pony/images/hole4.png)  no-repeat; }
.rounded div.radius-5  { position:absolute; width:5px;  height:5px;  background: url(/pony/images/hole5.png)  no-repeat; }
.rounded div.radius-6  { position:absolute; width:6px;  height:6px;  background: url(/pony/images/hole6.png)  no-repeat; }
.rounded div.radius-7  { position:absolute; width:7px;  height:7px;  background: url(/pony/images/hole7.png)  no-repeat; }
.rounded div.radius-8  { position:absolute; width:8px;  height:8px;  background: url(/pony/images/hole8.png)  no-repeat; }
.rounded div.radius-9  { position:absolute; width:9px;  height:9px;  background: url(/pony/images/hole9.png)  no-repeat; }
.rounded div.radius-10 { position:absolute; width:10px; height:10px; background: url(/pony/images/hole10.png) no-repeat; }
.rounded div.radius-11 { position:absolute; width:11px; height:11px; background: url(/pony/images/hole11.png) no-repeat; }
.rounded div.radius-12 { position:absolute; width:12px; height:12px; background: url(/pony/images/hole12.png) no-repeat; }
.rounded div.radius-13 { position:absolute; width:13px; height:13px; background: url(/pony/images/hole13.png) no-repeat; }
.rounded div.radius-14 { position:absolute; width:14px; height:14px; background: url(/pony/images/hole14.png) no-repeat; }
.rounded div.radius-15 { position:absolute; width:15px; height:15px; background: url(/pony/images/hole15.png) no-repeat; }
.rounded div.radius-16 { position:absolute; width:16px; height:16px; background: url(/pony/images/hole16.png) no-repeat; }
.rounded div.radius-17 { position:absolute; width:17px; height:17px; background: url(/pony/images/hole17.png) no-repeat; }
.rounded div.radius-18 { position:absolute; width:18px; height:18px; background: url(/pony/images/hole18.png) no-repeat; }
.rounded div.radius-19 { position:absolute; width:19px; height:19px; background: url(/pony/images/hole19.png) no-repeat; }
.rounded div.radius-20 { position:absolute; width:20px; height:20px; background: url(/pony/images/hole20.png) no-repeat; }

.rounded div.top-left {top:0; left:0; background-position: top left;}
.rounded div.top-right {top:0; right:0; background-position: top right;}
.rounded div.bottom-left {bottom:0; left:0; background-position: bottom left;}
.rounded div.bottom-right {bottom:0; right:0; background-position: bottom right;}

/* IE Filters */

* html .rounded div.radius-4  { background: url(/pony/images/hole4.gif); }
* html .rounded div.radius-5  { background: url(/pony/images/hole5.gif); }
* html .rounded div.radius-6  { background: url(/pony/images/hole6.gif); }
* html .rounded div.radius-7  { background: url(/pony/images/hole7.gif); }
* html .rounded div.radius-8  { background: url(/pony/images/hole8.gif); }
* html .rounded div.radius-9  { background: url(/pony/images/hole9.gif); }
* html .rounded div.radius-10 { background: url(/pony/images/hole10.gif); }
* html .rounded div.radius-11 { background: url(/pony/images/hole11.gif); }
* html .rounded div.radius-12 { background: url(/pony/images/hole12.gif); }
* html .rounded div.radius-13 { background: url(/pony/images/hole13.gif); }
* html .rounded div.radius-14 { background: url(/pony/images/hole14.gif); }
* html .rounded div.radius-15 { background: url(/pony/images/hole15.gif); }
* html .rounded div.radius-16 { background: url(/pony/images/hole16.gif); }
* html .rounded div.radius-17 { background: url(/pony/images/hole17.gif); }
* html .rounded div.radius-18 { background: url(/pony/images/hole18.gif); }
* html .rounded div.radius-19 { background: url(/pony/images/hole19.gif); }
* html .rounded div.radius-20 { background: url(/pony/images/hole20.gif); }

* html .rounded div.top-left,
* html .rounded div.top-right,
* html .rounded div.bottom-left,
* html .rounded div.bottom-right {
   line-height: 1px;
   font-size: 1px;
}
* html .rounded div.top-left {background-position: top left;}
* html .rounded div.top-right {background-position: top right;}
* html .rounded div.bottom-left {bottom:-1px; background-position: bottom left;}
* html .rounded div.bottom-right {bottom:-1px; background-position: bottom right;}
