#menu {
    margin: 0 0 1em 0;
    list-style: none;
}
.frames dt {
    margin-top: 1em;
}
.frames dt.module-system {
    color: #888
}
.frames dt .module-name,
.frames dt .template-name {
    cursor: help;
}
.frames .source {
    margin: 0;
    list-style: none;
}
.frames .source th,
.frames .source td {
    padding: 0;
    font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5;
}
.frames .source tr.odd th,
.frames .source tr.odd td {
    background-color: #f8f8f8;
}
.frames .source tr.even th,
.frames .source tr.even td {
    background-color: white;
}
.frames .source tr.current th,
.frames .source tr.current td {
    background-color: #fbe3e4;s
}
.frames .source th.number {
    width: 4em;
    color: #888;
}
.frames .source td.line {
    white-space: pre;
}
.frames .source td.line .syntax-error {
    background-color: #ff8080;
}
.frames .source td.line .ident {
    cursor: help;
}
.frames .source td.line .comment {
    color: green;
}
.frames .source td.line .string {
    color: blue;
}