h2, h4 {
 	font-family: tahoma;
	font-weight: bold;
	color: #000066;
	margin: 1em 0 0.6em 0;
}

table {
        border-collapse: collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;	
}

.bordered {
        border-style: solid;
        border-width: 1px;
        border-color: #CCCCCC;
        background-color:#FFFFFF;
}

.pad {
        padding-left: 5px;
        padding-right: 5px;
}


table.t2 {
	width: 100%;
        background-color:#FFFFFF;
        cursor: default;
}

.delimeter {
	background-color: #EEEEEE;
}


td.main-row:hover {
	background-color: #CCCCCC;
	cursor: pointer;
}

a:link, a:visited, a:active { 
	text-decoration: none;
        color:#000000;
        outline: none;
}



.col11 {
 float:left;
 width:4em;
 text-align:right;
 padding-right:5px;
 #background-color:#F7F7F7;
 border-right: solid #CCCCCC 1px;
}
.col12 {
 float:left;
 cursor:pointer;
 width:16em;
 display:block;
 text-align:center; 
 #background-color:#F7F7F7;
 border-right: solid #CCCCCC 1px;

}
.col13 {
 #text-decoration:none;
 float:left;
 text-align:left;
 padding-left:5px;
 display:block;
 width:50em;
 #background-color:#F7F7F7;
 border-right: solid #CCCCCC 1px;

}

table {
        #border-collapse: collapse;
        border-color:#CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.expanded {
	background-color: #CCCCCC;
}
.scrl {
  overflow-y: scroll;
  overflow-x: hidden;
  height:30em;
}
