h2 {
 	font-family: tahoma;
	font-weight: bold;
	color: #000066;
	margin: 1em 0 0.6em 0;
}

#main {
        border-collapse: collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}


.pad {
        padding-left: 5px;
        padding-right: 5px;
}


#nested {
	width: 100%;
        background-color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
        border-collapse: collapse; 
        border-style: solid;
        border-width: 2px;
        border-color:#777777;        
        cursor: default;
}

#nested td  {
        border-style: solid;
        border-width: 1px;
        border-color: #CCCCCC;
        background-color:#FFFFFF;
}

.delimeter {
	background-color: #EEEEEE;
        border-style: solid;
        border-width: 1px;
        border-color: #CCCCCC;
}


td.row:hover {
	background-color: #CCCCCC;
	cursor: pointer;
}

.col1 {
 	float:left;
	 cursor:pointer;
	 display:block;
	 width:5em;
	 text-align:right;
	 padding-right:1em;
	 border-right: solid #CCCCCC 1px;
}

.col2 {
	 float:left;
	 cursor:pointer;
	 width:16em;
	 display:block;
	 text-align:center; 
	 border-right: solid #CCCCCC 1px;
}

.col3 {
	 1float:left;
	 cursor:pointer;
	 text-align:left;
	 padding-left:1em;
	 display:block;
	 width:80em;
}

.expanded {
	background-color: #AAAAAA;
}

.prevnext {
	text-align:right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#prev1, #next1 {
	display:none;              
}
